@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.newsCard {
  height: fit-content;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 9px 20px rgb(46 35 94 / 7%);

  padding: 10px;
  margin: 15px 10px;

  display: inline-block;
  column-break-inside: avoid;
}

.newcardimg img {
  border-radius: 6px;

}

.newcardimg {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px !important;
  max-height: 200px !;
}

.orginalnewsImage {
  max-width: 100%;
  max-height: 100%;
}

.newsImage {
  max-height: inherit;
  max-width: 60% !important;
}


.newsText {
  padding: 20px 0 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #44444d;
}

.newsText div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.author {
  font-size: 12px;
  font-weight: 300;
  line-height: 22px;
  color: #808290;
  text-align: left;
  width: 100%;
}

.author a {
  color: #44444d;
  text-decoration: none;
}

.lowerNewsText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 10px 0;
}

.readmore {
  font-size: 12px;
  font-weight: 400;
  padding-top: 10px;


}

.readmore span {
  color: #1c55ff;
  width: 100%;
  text-align: center;
}

.source {
  text-decoration: none;
  color: black;
}



.title {
  line-height: 27px;
  text-align: left;
  color: rgb(33, 25, 34);
}

.muted {
  font-weight: 100;
}

.description {
  margin: 10px 0;

  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #202124;
}

@media (max-width: 800px) {
  .newsCard {
    flex-direction: column;
    width: 100%;
    box-shadow: none !important;
    margin: 0 !important;
    border-bottom: 1px solid #E7EBF0 !important;

  }

  .newcardimg,
  .newcardimg img {
    border-radius: 10px;
  }




}