.menubtncustom {
    border: 1px solid #e0e0e0 !important;
    margin-left: 10px !important;
}

.MuiPaper-root {
    padding: 10px 25px;
}

.MuiDrawer-paperAnchorTop {
    left: 0;
    right: 0;
    bottom: auto;
    height: auto;
    max-height: 100%;
}

.MuiListItemText-root span {
    font-size: 1.1rem;
    color: rgb(34, 51, 84);
}

.MuiDrawer-paperAnchorLeft {


    box-shadow: rgb(140 152 164 / 18%) 0px 10px 40px 10px
}

.MuiList-padding {

    color: rgb(30, 32, 34) !important;
}

@media(max-width:700px) {
    .makeStyles-fullList-2 {
        width: 100%;
        border-radius: 28px;
    }


    .MuiPaper-root {
        transform: none;
        padding: 42px;
    }

    .MuiList-padding {
        padding-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 8px;

    }
}

.makeStyles-fullList-2 .MuiList-root .MuiListItem-root {
    font-weight: 900 !important;
}