.navbarInsort {
    background-color: #fff;
    color: #1A2027;

    background-image: none;
    background-color: #fff;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    z-index: 1100;
    top: 0;
    left: auto;
    right: 0;
    background-color: #007FFF;
    color: #fff;
    padding: 0px;
    -webkit-transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    border-style: solid;
    border-color: #E7EBF0;
    border-width: 0;
    border-bottom-width: thin;
    background-color: rgba(255, 255, 255, 0.8);
    color: #2D3843;
    height: 70px;
    padding: 0px 20px;
}

.navbarwrapper {

    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 48px;
    width: 100%;

}




.navrbarlogowarpper {
    flex: 1;
    text-align: center;
    height: initial;
}