.todoApp {
    background-color: #f8f8ff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.todoform {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.todoheading {
    color: #646681;
    display: inline-block;
    font-weight: 700 !important;
    margin: 20px 0 20px 0 !important;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.todobtn {
    background-color: #646ff0 !important;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 500;
    height: fit-content;
    overflow: hidden;
    padding: 0.8rem 1.7rem !important;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
    color: #fff !important;



}

.editformbtngrp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.todoActionWrapper {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    box-sizing: border-box;
    max-width: 50vw;
}

.todoInputWrapper {
    padding: 2px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    font-size: 1.2rem;
    padding: 6px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

}

.todoInput {
    border: none;
    outline: none;
    background-color: #f7f7f7;
    border: none;
    color: #10182f;
    font-size: 1rem;
    padding: 7px 13px;
    flex: 1;
    resize: none;
}

.todoInput:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.todoInput::-webkit-scrollbar {
    width: 0;
}

.todo-list-wrapper {
    width: 100% !important;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-list {
    max-width: 50vw;
    width: 100%;
    padding: 10px;
    background-color: #ecedf6;
    border-radius: 12px;
    max-height: calc(100vh - 178px);

    overflow: auto;

}




.todoItem {
    border-radius: 5px;
    list-style: none;
    background-color: white;
    margin-bottom: 1rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: #10182f;
}

.todoItemWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.todoItemAction {
    display: flex;
    justify-content: center;
    align-items: center;

}

@media(max-width:700px) {


    .todo-list,
    .todoActionWrapper {
        max-width: 95%;
        flex-direction: column;
        align-items: center;
    }

    .todoInputWrapper {
        margin-bottom: 10px;
    }

    .todobtn {
        padding: 0.5rem 2rem !important;
    }

    .todoheading {
        margin: 10px 0 !important;
    }
}

.breadcum {
    width: 100%;
    background-color: white;
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 0px 0px;
    padding: 10px;
}