:root {
    --containerPadding: 70px;
    --wrapperwidth: 90vw;
    --wrapperRadius: 10px;
    --imageWidth: 44vw;
}

* {
    box-sizing: border-box;
}

.InstructionDisplay {
    padding: 30px;
    margin-top: 20px;
    /* width: var(--wrapperwidth); */
    border: 1px solid #E0E3E7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.Instruction,
.InstructionDisplay {
    display: flex;
    flex-direction: column;


    gap: 1.75rem;

}


.heroTitle {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heroTitle h2 {
    color: #0072e5;
    font-weight: 800;
}

.breadcum {
    background-color: #fff;
    z-index: 100;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: #f3f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--containerPadding) 0;
}

.fileUploaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: var(--wrapperRadius);
    /* width: var(--wrapperwidth); */
    padding: 50px 20px;
    background-color: #fff;
    border: 1px solid #E0E3E7;
}

.filenamedisplay {
    text-align: center;
    margin-top: 10px !important;
    overflow: hidden;
}

.ActionPannelWrapper {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    border-radius: var(--wrapperRadius);
    background-color: white;
    margin: 20px 0;
    width: var(--wrapperwidth);
    border: 1px solid #E0E3E7;

}

.ActionPannel {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.InputElement {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resizeActionPannel,
.compressActionPannel {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}


.aspectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompressbtnWrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: var(--wrapperRadius);

}

.displayImageWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: var(--wrapperwidth) !important;
    border-radius: var(--wrapperRadius);
    background-color: white;
    width: var(--wrapperwidth);
    border: 1px solid #E0E3E7;
}

.orginalImageWrapper,
.compressedImageWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    max-height: 500px;
    width: 100%;

    padding: 30px 10px;

}

.compressedImageWrapper {
    border-left: 1px solid #E0E3E7;
}

.orginalImageWrapper p,
.compressedImageWrapper p {
    text-align: center;
    line-height: 1.4rem;
}

.orginalImage,
.compressedImage {
    max-width: var(--imageWidth);
    max-height: 400px;
    object-fit: contain;


}

.compressedImageShare {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.compressedImageShare button {
    flex-direction: row;
}


@media(max-width:1000px) {
    :root {

        --wrapperwidth: 100vw;
        --imageWidth: 98vw;
        --containerPadding: 50px;
    }

    .displayImageWrapper {
        flex-direction: column;
    }

    .orginalImageWrapper {
        border-right: none;
    }

    .ActionPannel {
        flex-direction: column;

    }

    .targetCompresswrapper {
        flex-direction: column;
        gap: 10px;
    }

    .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.file-types {
    display: none;
}