#root {
  width: 100vw;
  background: #f7fafc;
}


.homepageheading {
  color: rgb(36 62 99);
  text-align: center;
  margin-bottom: 30px !important;
  font-weight: 500 !important;
}

.highlight {
  color: rgb(85, 105, 255);

}


.Homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;


}

.Cardlist {
  height: calc(100vh - 19.431vh);
  margin-top: 10.46vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex: 1;

}

.card {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  border: 3px rgb(179, 212, 254);

  border-style: dashed;
  position: relative;
  background-color: transparent;

}



.cardmedia {
  width: 160px;
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none !important;
  color: rgb(9, 11, 23) !important;

}

.cardwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;

}

.cardtext h5 {

  font-weight: 700;
  color: rgb(36 62 99);

  line-height: 1.235;
  display: block;

}


.connect_withme {
  width: 100%;
  height: 60px;
  background-color: #172b4d;
  padding: 20px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}



@media(max-width:1000px) {
  .Cardlist {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 84px 0;
    overflow-y: scroll;

  }

  .card {
    width: 300px;
    height: 170px;
  }

  .cardmedia {
    height: 120px;
  }

  .cardtext h5 {
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;


    line-height: 1.235;
    display: block;
    color: rgb(34, 51, 84);
  }


}