#root {
  width: 100vw;
  background: #f7fafc;
}


.homepageheading {
  color: rgb(36 62 99);
  text-align: center;
}

.highlight {
  color: rgb(100 21 255);
}


.Homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.Cardlist {
  flex: 1 !important;

  display: flex;
  justify-content: center;
  align-items: center;

}

.card {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  border: 3px rgb(226, 232, 240);
  border-style: dashed;


}

.cardmedia {
  width: 160px;
  height: 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none !important;
  color: rgb(9, 11, 23) !important;

}

.cardwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;

}


.connect_withme {
  width: 100%;
  height: 60px;
  background-color: rgb(26 32 44);
  padding: 20px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:700px) {
  .Cardlist {
    flex-direction: column;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
    padding-top: 404px;
    padding-bottom: 30px;

  }

  .card {
    width: 300px;
    height: 170px;
  }

  .cardmedia {
    height: 120px;
  }

  .cardtext h5 {
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }


}