#root {
  width: 100vw;

}

.homeheadingwrapper {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../public/home.gif") no-repeat left center fixed;
  background-size: contain;

}

.homepageheading {
  color: #101c2f;
  text-align: center;
  margin-bottom: 30px !important;
  font-weight: 500 !important;
  user-select: none;
  font-family: 'Inter', sans-serif !important;
}

.highlight {
  color: #06f;
}



.Homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fdfefe !important;
}



.Cardlist {
  height: calc(100vh - 19.431vh);
  margin-top: 10.46vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex: 1;

}

.card {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  position: relative;
  padding: 10px 10px 0 10px;
  background-color: white;
  user-select: none !important;
}



.cardmedia {

  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

a[href="/task-tracker"] .cardmedia {
  background-color: #00a0c81f;
  border-radius: 20px;
}

a[href="/news"] .cardmedia {
  background-color: #fd846925;
  border-radius: 20px;
}

a[href="/notepad"] .cardmedia {
  background-color: #5fd6d422;
  border-radius: 20px;

}

a[href="/notepad"] .cardmedia img {
  transform: scale(0.7);
}

a[href="/notepad"] .cardmedia {

  background-image: url('../public/notepadbg.svg');
  background-size: 90px 90px;
  background-position: 52% 54%;
  background-repeat: no-repeat;
}







a {
  text-decoration: none !important;


}

.cardwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  height: inherit;
}

.cardtext {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.cardtext p {
  text-align: center;
  width: 100%;
  color: #101c2f;
  line-height: 1.235;
  display: block;
  font-weight: 700 !important;
  font-size: 18px !important;
  background-color: white;

}


.connect_withme {
  width: 100%;
  height: 60px;
  background-color: #172b4d;
  padding: 20px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}



@media(max-width:1000px) {
  .Cardlist {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 84px 0;
    overflow-y: scroll;

  }


}